/* Container for the entire app */
.app-container {
  width: 100%;
  padding: 20px;
  background-color: #e0f2fa;
}

/* Logo and navigation container */
.headerNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  gap: 200px; 
}

.icon-container {
  margin-top:0%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

.hireMeIcon, .logo {
  display: flex;
  align-items: center;
}

.hireMeIcon img{
  width: 100px; 
  height: auto;
}

.logo img {
  width: 800px; 
  height: auto;
}

.hireMeIcon span {
  font-size: 26px;
  margin-left: 5px; 
}


/* Navigation links container */
.headerNavLink {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  gap: 500px; 
  margin: 0;
}

/* Styling for navigation links */
.nav-link {
  color: #000000;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect for navigation links */
.nav-link:hover {
  color: #007BFF;
}

.imageAndIntroPara {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.contentImage {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: start;
}

.contentImage img {
  width: 300px; 
  height: auto; 
}

.midParagraphTxt {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}



/* Footer links container */
.footerNavLink {
  display: flex;
  justify-content: center;
  gap: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Page content container */
.page-content {
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}


/* social media icons class css  */
.socialMediaIcons {
  width: 44px; 
  height: 44px; 
  margin: 0 10px; 
  object-fit: contain;
}


/* Style the tab buttons */
.headerTab {
  background-color: #b494bd;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 100%;
  display: block;

}
.menuBtn{
  color: rgb(0, 0, 0);
  float: left;
  border:0pc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 10%;
  display: block;
  text-align: left;

}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #386a76;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

