/* Container for the entire app */
.app-container {
  width: 100%;
  height: auto;
  background-color: #E8F9FB;
}


/* Logo image styling */
.logo img {
  width: 75px;
  height: 100;
}

/* Hire me icon image styling */
.hireMeIcon img {
  width: 50px; 
  height: auto;
  padding-top: 20px;
}

.contentImage{
padding-left: 300px;
}



/* Menu button styling */
.menuBtn {
  display: inline-block;
  padding-left: 30px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  font-family: Georgia, cursive, sans-serif;
  font-weight: bold;
}

#menuDropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}



.logo {
  margin-right: auto; 
  padding-top: 5px;
}

.hireMeIcon {
  display: flex;
  padding-left: 20px;
  align-items: right;
  font-size: 30px;
  font-family: Georgia, cursive, sans-serif;
  font-weight: bold;
}

.menuBtn {
  display: flex;
  padding-top: auto;
  padding-left: 5px;
  margin-right: 20px; 
}




/* Navigation links container */
.headerNavLink {
  padding-left: 20px;
  font-family: Georgia, cursive, sans-serif;
  font-weight: bold;
  margin: 0 120px;
  padding-bottom: 50px;
  text-decoration: none; 
  font-size: 25px;
}

/* Styling for navigation links */
.nav-link {
  padding-left: 20px;
  font-family: Georgia, cursive, sans-serif;
  font-weight: bold;
  margin: 0 120px;
  text-decoration: none; 
  padding-bottom: 50px;
  font-size: 25px;
}


/* Hover effect for navigation links */
.nav-link:hover {
  color: #007BFF;
}

/* Remove bullet points from lists */
ul {
  list-style-type: none;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #386a76;
}

/* Default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: left;
}

/* Menu list styling */
.menuList {
  font-size: 30px;
  font-family: Georgia, cursive, sans-serif;
  font-weight: bold;
}

.imageAndIntroPara{
  display: flex; 
  font-size: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 300px;
  font-family: Georgia, cursive, sans-serif;
  font-size: 20px;
}

/* Styling for the unordered list in the menu */
.menuList ul {
  list-style: none; 
  font-family: Georgia, cursive, sans-serif;
  font-weight: bold;
  float: right;
}

/* Menu list item styling */
.menuList li {
  margin-bottom: 80px; 
}

.menuItems {
  float: right; 
}

.socialMediaIconsContainer {
  float: left; 
}

.socialMediaIcons {
  width: 30px; 
  height: 30px; 
  float: right;
}